{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime libero a molestiae. Minus quas quidem illo, blanditiis hic ex! Minima est placeat facilis quod, modi quidem eligendi obcaecati, accusamus at ipsum nesciunt saepe praesentium aut harum dolores odit amet odio excepturi delectus molestiae dicta deserunt ea explicabo! Maiores at amet nemo dolor? A fugit consequuntur eius eveniet obcaecati eaque aut voluptates. Pariatur commodi minima quo excepturi ex, ullam quam dolore labore magnam, qui dolorum cum iste magni officiis ipsa unde culpa illum, dicta necessitatibus ea porro animi est hic. Amet numquam itaque omnis. Sint impedit quia laboriosam, dicta corporis sit.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/login/">
                Login
            </a>

            <a class="btn btn-dark" href="/signup">
                Register
            </a>
        </div>

    </section>
</main>

{% endblock %}
